/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

input,
select,
textarea {
  &.ng-dirty.ng-invalid,
  &.ng-touched.ng-invalid {
    @extend .is-invalid;
  }
}

.container {
  margin-left: 2em;
}
